<mat-spinner *ngIf="isLoadingComments; else chat"></mat-spinner>
<ng-template #chat
  ><nb-chat [title]="'Channel ' + channelId" status="primary">
    <div>TOTO</div>
    <!--    TODO: calculate reply value dynamically based on connected user-->
    <nb-chat-message
      *ngFor="let comment of comments"
      type="text"
      [message]="comment.text"
      [reply]="comment.userId !== authenticationService.userId"
      [sender]="comment.userId"
      [date]="comment.date"
      [files]="[]"
    >
    </nb-chat-message>
    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
    </nb-chat-form>
  </nb-chat>
</ng-template>
