<nb-layout>
  <nb-layout-column class="p-0">
    <mat-toolbar color="primary">
      <span [routerLink]="''" class="application-title">
        My Chat
        <mat-icon
          class="center-vertically"
          aria-hidden="false"
          aria-label="Example home icon"
          >forum</mat-icon
        >
      </span>
      <button mat-flat-button color="primary" class="ml-20" [routerLink]="''">
        Channels
      </button>
      <button mat-flat-button color="primary" [routerLink]="'new-comment'">
        New Comment
      </button>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>Is admin</mat-label>
        <mat-select value="false" (selectionChange)="onIsAdminChange($event)">
          <mat-option value="true">True</mat-option>
          <mat-option value="false" selected>False</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="ml-10">
        <mat-label>User ID</mat-label>
        <input
          matInput
          (change)="onUserIdChange($event)"
          [value]="authenticationService.userId"
        />
      </mat-form-field>
    </mat-toolbar>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
